<!DOCTYPE html>
<title>{{title}}</title>
<h1>{{title}}</h1>

<nav>
{% set pipe = joiner("|") %}
{% for paginator in paginators %}
    {{ pipe() }} <a href="{{paginators[paginator]}}">{{paginator}}</a>
{% endfor %}
</nav>
<ol{% if page > 1 %} start='{{ 1 + (page - 1) * page_size }}'{% endif %}>
{% for result in results %}
    <li>
        <div>
            <h2>{{result.title}}</h2>
	    <div>{{members[result.owner]}} | {{result.date}} | Favs: {{result.favorites}}</div>
            <img alt='{{result.title}}' src='{{result.url}}' width='600'>
        </div>
    </li>
{% endfor %}
</ol>

<nav>
{% set pipe = joiner("|") %}
{% for paginator in paginators %}
    {{ pipe() }} <a href="{{paginators[paginator]}}">{{paginator}}</a>
{% endfor %}
</nav>
